* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
header {
    height: 50px;
    background-color: grey;
}
.card-flex {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card {
    padding: 10px;
}
img {
    width: 100%;
}
.img-container {
    width: 340px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;    
}
.burger-title {
    text-transform: uppercase;
}
.burger-price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: brown;
    font-size: 25px;
}
.topping-container {
    text-transform: uppercase;
}
.topping-flex {
    margin-top: 10px;   
}
.topping-flex {
    display: flex;
    justify-content: space-between;
}
.price-flex {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid grey;
}
.topping-price {
    font-weight: 600;
    color: brown;
    font-size: 20px;
    margin-top: 10px;
}
.total-box {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    font-weight: 600;
    color: brown;
    font-size: 25px;
}
h2 {
    font-size: 25px;
    color: black;
}

.cal-box  {
    display: flex;
    align-items: center;
    color: brown;
}